<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Forgot password</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body style="background: rgb(227, 237, 240) !important">
<div style=" display: flex; flex-direction: column; height: 100%; width: 100%; align-items: center;">
    <h1>12co</h1>
    <div style=" display: flex; flex-direction: column; align-items: center; background-color: white; padding: 20px;">
        <img/>
        <span style="font-weight: bold; font-size: 1.5em">
            Lost your device?
        </span>
        <span style="display: flex; padding-top: 20px; color: darkgray">
          That's ok, it happens. Click the button below to reset your password
        </span>

        <!--/*@thymesVar id="firstName" type="String"*/-->
        <a th:href="${url}"
           style="cursor:pointer; background-color: black; color: white; padding: 12px; margin-top: 20px; ">
            Add new device
        </a>
        <div style="padding-top:30px;">
        <span>
          In case your browser doesn't allow it, copy this url in a new tab
        </span>
            <a th:href="${url}" th:text="${url}"></a
        </div>
    </div>
</div>
</body>
</html>
